/* Primary Color Palette */ 
$white: #FFFFFF;
$black: #000000;
$red: #ff0000;
/* add new colors */

/* Secondary Color Palette */ 
$grey-1: #F9F9F9;
$grey-81: #2E2E2E;
$grey-9: #E8E8E8;
$grey-4: #747474;