<div class='header'>
    <h2 class="title">Games</h2>
    <button (click)="toggleInputs()" class="addButton">+</button>
    <div *ngIf="showInputs">
    <input class="textinput" type="text" name="name" id="">
        <select class="dropdown" name="status" id="">
            <option value="Completed">Completed</option>
            <option value="Started">Started</option>
            <option value="Not Started">Not Started</option>
        </select>
        <input class="textinput" type="text" name="rank">
        <button (click)="addToList()" class="addButton">Add To List</button>
        
    </div>
</div>

<li *ngFor="let game of games">
        <span [ngStyle]="{color: processColor(game.status)}"> {{ game.name }} </span>
        <span> {{game.rank}}</span>
</li>
