@import "../../styles/utils";

.header{
    display: flex;
}
.inputHolder {
    display: flex;
    margin-top: 5px;
}

.addButton {
    scale: .73;
    top: -4px;
}
.addListButton {
    height: 40%;
    width: auto;
    margin-top: 18px;
}

.textinput {
    height: 20px;
    margin: 20px;
}

.dropdown {
    height: 26px;
    margin:20px 0;
}